.hover-outline {}

.img_size {
    height: 150px;
    width: 150px;
}

body {
    background-image: url("../images/starwars_backgrnd.jpg");
}

#players {
    padding-top: 60px;
}

.enemy-char-list,.player1,.player2{
	visibility: 	hidden;
}

.enemy{
	background-color: 	black;
}

.class_you{
	width:50px;
}

.col-md-4{
	visibility: 	hidden;	
}





.char,.enemy,.your_char_class,.defender_char_class{
   
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}


