@import url('https://fonts.googleapis.com/css?family=Geostar+Fill');

.img_size {
    height: 150px;
    width: 150px;
}

body {
    background-image: url("../images/starwars_backgrnd.jpg");
    /*background-size: 	100%;*/
    background-position: center;	
    background-size: 	100%;


}

.game_rules{
	background-image: 	url("../images/dark_embroidery.png");
	color:#ffffff;
	border-radius: 	20px;
	padding: 	30px;
	margin-top: 	20px;

}

.start_game_btn {
	background-image: 	url("../images/dark_embroidery.png");
	color:#ffffff;
	border-radius: 	20px;
	float: center;
}



.navbar {
    
    background-position: bottom;
    
    background-image:url("../images/stardust.png")	;
    text-align:center;
    width: 100%;
    margin:0 auto;
    float: none;
    font-family: 'Geostar Fill';
}

.choose_char_list{
	background-image: 	url("../images/stardust.png");
	border-radius: 	20px;
	text-align: 	center;	
	display: 	none;
	color: 	#ffffff;
	margin-top: 	20px;

	
	align-self: 	center;	
}

.choose,.opponent_h3{
	color:#4ffff5;
}

.enemy-char-list{
		background-color: 	red;
		background-image: 	url("../images/stardust.png");
		border-radius: 	20px;
	text-align: 	center;	
	color: 	#ffffff;
	margin-top: 	20px;

	
	align-self: 	center;	
}

.fight_field{
	visibility: hidden;	
	
}

h1{
	color: 	white;

}



.frame_t {
    background: url(../images/frame.png) no-repeat;
    /*width: 100%;*/
    height: 300px;
    align-content: 	center;	
    text-align: 	center;	
}

#players {
    padding-top: 60px;
}

.attack{
	padding-left:500px;
	padding-top: 	30px;
}

.player1{
	color:#ffffff;
	border-radius: 	20px;
	background-color: 	#6dccb9;
	align-self: 	center;	
	margin-left:80px;
	margin-right:80px;
	
	margin-bottom: 	30px;
}

.player2{
	color:#ffffff;
	border-radius: 	20px;
	background-color: 	#dd1555;
	
	margin-left:80px;
	margin-right:80px;
	
	margin-bottom: 	30px;
	align-self: 	center;	
}

.enemy-char-list,.player1,.player2, .restart_btn,.attack{
	visibility: 	hidden;

}

p{
	text-align: 	center;
}



.enemy{
	
}

.class_you{
	width:50px;
}

.col-md-4{
	visibility: 	hidden;	
}



h3{
	
}

.message{
	background-color: 	white;
}

.char,.enemy,.your_char_class,.defender_char_class{
   
   
    
    padding: 2px;
   		margin-left: 	90px;
   
    background-repeat: 	no-repeat;	
    background-position: 	bottom	;	
    background-size: 70%;
    width: 	180px;
    height: 	180px;
}


